.ms-hero {
    position: relative;
    margin-bottom: 0;
    height: auto;

    .ms-hero-header{
        position: absolute;
        top: -13rem;

        @media (min-width: 500px) {
            top: -18rem;
        }

        @media (min-width: 700px) {
           top: -25rem; 
        }

        @media (min-width: 1000px) {
            top: -35rem;
        }

        @media (min-width: 1200px) {
            top: -40rem;
        }

        h1 {
            font-size: clamp(1.25rem, 4.5vw, 6rem);
        }

        h2 {
            //font-size: 2.5rem;
        }

        .ms-btn-primary {
            margin-left: -1rem;
        }
    }

    .ms-hero-header-10 {
        @media (min-width: 992px) {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }

        @media (min-width: 1200px) {
            top: 10rem;
        }
    }

    .ms-hero-title {
        padding-bottom: 2rem;
    }

    .ms-hero-step {
        background-color: $secondary;
        max-width: 13rem;
        height: 18rem;
        padding: 2rem;
        border-radius: 1.25rem;
        width: 12rem;
        margin: 1rem;
    }

    .ms-hero-h2 {
        color: $secondary-text;
        font-size: clamp(1rem, 4.5vw, 2.5rem);
    }

    .ms-hero-h3 {
        color: $primary-text;
    }
}