@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "_variables.scss";
@import "components/heroUnit.scss";
@import "components/wrapperImg";
@import "pages/front-page.scss";
@import "pages/services-page";
@import "pages/portfolio-page";
@import "pages/our-team-page";
@import "pages/contact-page";


body {
    color: $primary-text;
    background-color: $secondary;
    margin-top: 5rem;
}

header, footer {
    background-color: $primary;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-between;
    height: 5rem;
    width: 100%;
    z-index: 1000;

    .ms-title {
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ms-nav {
        margin: 1rem;
        font-size: clamp(1rem, 4.5vw, 1.5rem);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    display: flex;
    align-items: center;

    h2 {
        margin-top: 1rem;
    }

    img {
        max-width: 2.625rem;
    }

    .ms-footer-logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (min-width: 576px) {
            align-items: normal;
        }

        a {
            border-bottom: 2px solid $secondary;
        }
    }

    .ms-footer-links {
        display: grid;
        justify-content: center;

        @media (min-width: 576px) {
            justify-content: baseline;
        }
    }

    .ms-footer-contacts {
        display: grid;
        justify-content: center;

        @media (min-width: 576px) {
            justify-content: baseline;
        }

        h2 {
            text-align: center;

            @media (min-width: 576px) {
                text-align: left;
            }
        }

        .ms-footer-contact {
            justify-content: center;

            @media (min-width: 576px) {
                justify-content: left;
            }

            .ms-footer-contact-img {
                justify-content: center;
                align-items: center;
                img {
                    max-width: 2.625rem;
                }
            }
        }
    }
}

h1 {
    color: $primary-text;
}

h3 {
    color: $secondary-text;
}

.ms-btn-primary{
    a{
        background: $primary-btn;
        border-radius: 15px;
        font-size: clamp(0.75rem, 2.5vw, 1.5rem);

        &:hover{
            background: $primary-btn-hover;
        }
    }
}

.ms-btn-secondary{
    background: $secondary-btn;
}


.ms-title-pages {
    margin-top: 2.188rem;
    width: fit-content;
    border-bottom: 0.313rem $primary solid;
    padding-bottom: 0.125rem;
    font-size: clamp(3rem, 4.5vw, 8.125rem);
    z-index: 1;
}

.scrim {
    background: $primary;
}