@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "_variables.scss";
@import "components/heroUnit.scss";
@import "pages/front-page.scss";
@import "pages/services-page";


body {
    color: $primary-text;
    background-color: $secondary;
}

header, footer {
    background-color: $primary;
}

header {
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-between;
    height: 5rem;

    .ms-title {
        margin: 1rem;
    }

    .ms-nav {
        margin: 1rem;
        //font-size: 1.75rem;
        
    }
}

footer {
    height: 14.375rem;
    display: flex;
    align-items: center;

    h2 {
        margin-top: 1rem;
    }

    .ms-footer-logos {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .ms-footer-links {

    }

    .ms-footer-contacts {

    }
}

h1 {
    color: $primary-text;
}

h3 {
    color: $secondary-text;
}

.ms-btn-primary{
    a{
        background: $primary-btn;

        &:hover{
            background: $primary-btn-hover;
        }
    }
}

.ms-btn-secondary{
    background: $secondary-btn;
}


.ms-title-pages {
    margin-top: 2.188rem;
    width: min-content;
    border-bottom: 0.313rem $primary solid;
    padding-bottom: 0.125rem;
}

.scrim {
    background: $primary;
}