@import "../../../../node_modules/bootstrap/scss/bootstrap.scss";

@import "_variables.scss";
@import "components/heroUnit.scss";
@import "pages/front-page.scss";


body {
    color: $primary-text;
    background-color: $secondary;
}

header, footer {
    background-color: $primary;
}

header {
    display: flex;
    justify-content: space-between;
    height: 5rem;

    .ms-title {
        margin: 1rem;
    }

    .ms-nav {
        margin: 1rem;
        //font-size: 1.75rem;
        
    }
}

h1 {
    color: $primary-text;
}

h3 {
    color: $secondary-text;
}

.btn {
    background-color: $primary-btn;

    :hover {
        background-color: $primary-btn-hover;
    }
}

.ms-btn-primary{
    background: $primary-btn;

    a{
        background: $primary-btn;
    }

    :hover{
        background: $primary-btn-hover;
    }
}

.ms-btn-secondary{
    background: $secondary-btn;
}
